body {
  background-color: rgb(32, 32, 32);
}
p {
  color: white;
}
a {
  color: #f7aef8;
  text-decoration: none;
}

.teaser {
  position: relative;
  border: solid 2px gray (68, 68, 68);
  padding: 2em;
  border-radius: 25px;
  padding-bottom: 1.5em;
  background-color: rgb(68, 68, 68);
  display: flex;
  margin: 1em;
}

.teaser::before {
  content: "";
  position: absolute;
  inset: -5px;
  background: linear-gradient(-45deg, #f7aef8 0%, #3772ff 100%);
  border-radius: calc(25px + 5px);
  z-index: -1;
  opacity: 0;
  scale: 0.5;
  transition: opacity 500ms ease-in-out, scale 500ms ease-in-out;
}

.teaser:hover::before {
  scale: 1;
  opacity: 1;
}

.teaser-image {
  gap: 30px;
}

.teaser-description {
  gap: 30px;
  margin-left: 1em;
}

.liste {
  width: 80%;
  margin: auto;
}
