body {
  background-color: rgb(32, 32, 32);
}
p {
  color: white;
}
a {
  color: #f7aef8;
  text-decoration: none;
}

.teaser {
  border: solid 2px gray (68, 68, 68);
  padding: 2em;
  border-radius: 25px;
  padding-bottom: 1.5em;
  background-color: rgb(68, 68, 68);
  display: flex;
  margin: 1em;
}

.teaser:hover {
  scale: 1.05;
  transition: all 0.5s;
}

.teaser-image {
  gap: 30px;
}

.teaser-description {
  gap: 30px;
  margin-left: 1em;
}

.liste {
  width: 80%;
  margin: auto;
}
